$white: #ffffff;
$black: #000000;

$blue-50: #eff6ff;
$blue-100: #dbeafe;
$blue-200: #bfdbfe;
$blue-300: #93c5fd;
$blue-400: #60a5fa;
$blue-500: #3b82f6;
$blue-600: #2563eb;
$blue-700: #1d4ed8;
$blue-800: #1e40af;
$blue-900: #1e3a8a;

$purple-50: #faf5ff;
$purple-100: #f3e8ff;
$purple-200: #e9d5ff;
$purple-300: #d8b4fe;
$purple-400: #c084fc;
$purple-500: #a855f7;
$purple-600: #9333ea;
$purple-700: #7e22ce;
$purple-800: #6b21a8;
$purple-900: #581c87;

$red-50: #fee2e2;
$red-100: #fecaca;
$red-200: #fca5a5;
$red-300: #f87171;
$red-400: #ef4444;
$red-500: #dc2626;
$red-600: #b91c1c;
$red-700: #991b1b;
$red-800: #7f1d1d;
$red-900: #63171b;

$gray-50: #fafafa;
$gray-100: #f5f5f5;
$gray-200: #e5e5e5;
$gray-300: #d4d4d4;
$gray-400: #a3a3a3;
$gray-500: #737373;
$gray-600: #525252;
$gray-700: #404040;
$gray-800: #262626;
$gray-900: #171717;
