@import "@styles/variables.scss";

:root {
  font-family: $inter;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: $gray-600;
  background-color: $gray-200;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-shadow: none;
  user-select: none;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;

  > div {
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
  }
}

button,
a {
  &:hover {
    cursor: pointer;
  }

  &:disabled:hover {
    cursor: not-allowed;
  }
}

a {
  color: $orange-500;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
    text-underline-offset: 2px;
  }
}

p,
a,
button {
  font-family: $roboto;
}

button {
  border: none;
  background-color: transparent;
}

[data-selectable] {
  user-select: text;

  &::selection {
    background: $orange-600;
    color: $gray-100;
  }
}
