@import "@styles/colors.scss";

$roboto: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
$inter: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;

$border-radius: 10px;
$shadow-black: 0 2px 10px rgba(0, 0, 0, 0.1);
$shadow-orange-500: 0px 0px 15px -3px $orange-500;
$shadow-lg-orange-500: 0px 0px 15px 0px $orange-500;

$ring-background: 0px 0px 0px 2px $white;
$ring-orange-500:
  0px 0px 0px 4px $orange-500,
  $shadow-lg-orange-500;
