@import "@styles/colors.scss";

$roboto: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
$inter: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;

$border-radius: 10px;
$shadow-black: 0 2px 10px rgba(0, 0, 0, 0.1);
$shadow-purple-500: 0px 0px 15px -3px $purple-500;
$shadow-lg-purple-500: 0px 0px 15px 0px $purple-500;

$shadow-green-500: 0px 0px 15px -3px $green-500;
$shadow-lg-green-500: 0px 0px 15px 0px $green-500;
  
$shadow-red-500: 0px 0px 15px -3px $red-500;
$shadow-lg-red-500: 0px 0px 15px 0px $red-500;

$ring-background: 0px 0px 0px 2px $white;
$ring-purple-500:
  0px 0px 0px 4px $purple-500,
  $shadow-lg-purple-500;
  
$ring-green-500:
  0px 0px 0px 4px $green-500,
  $shadow-lg-green-500;
  
  
$ring-red-500:
  0px 0px 0px 4px $red-500,
  $shadow-lg-red-500;
