.question {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: $gray-100;
  border-radius: $border-radius;
  padding: 1rem;
}

.header {
  display: flex;
  flex-direction: column;

  p[id="values"] {
    font-size: 0.925rem;
  }
}

.options {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  counter-reset: item;

  button {
    display: flex;
    padding: 1rem 0.5rem;
    height: fit-content;
    align-items: baseline;
    text-align: left;
    border-radius: $border-radius;
    justify-content: flex-start;

    &::before {
      content: counter(item, upper-alpha) ") ";
      counter-increment: item;
      padding-right: 0.2em;
      padding-left: 0.6rem;
    }
  }
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
}
.scoreEditor {
  display: flex;
  gap: 1.25rem; // ~20px
  margin: 1rem 0;
  padding: 1rem;
  background-color: $gray-200; // Um pouco mais escuro para destacar a área
  border-radius: $border-radius;

  // Cada um dos campos (div)
  &__field {
    flex: 1;

    label {
      display: block;
      margin-bottom: 0.5rem;
      font-weight: 500;
    }

    input[type="number"] {
      width: 100%;
      padding: 0.5rem;
      border: 1px solid $gray-300;
      border-radius: $border-radius;
    }
  }
}
